<h1>Аналитическая БД</h1>

<!--<%= render "kaminari/main_text" %> -->
<!--<%= link_to "Сводная по ОКПД 2", "reports/okpd_group"%>-->

<ul class="list-group">
  <li class="list-group-item"><%= link_to "Сводная таблица по ОКПД 2", show_table_temps_path %></li>
  <li class="list-group-item"><%= link_to "Графики по ОКПД 2", all_graph_temps_path %></li>
  <li class="list-group-item"><%= link_to "Продуктовые направления", product_direction_temps_path %></li>
</ul>