<div class = "mb-3"  id = "filter_form_dashboard">
  <%= form_tag dashboard_temps_path do %>
    <%= text_field_tag :okpd, params[:okpd] || "26.40", placeholder: "OKPD 2" , autocomplete: "off" %>
    <%= select_tag :year, 
                    options_for_select([
                      ["2023"], 
                      ["2022"]
                    ], params[:year]), 
                    selected: params[:year], 
                    placeholder: "Квартал" %>
    <%= "Квартал" %>
    <% [1, 2, 3, 4].each do |quarter| %>
      <div class="form-check form-check-inline">
        <%= check_box_tag "quarter[]", quarter, true %>
        <%= label_tag "#{quarter}", quarter %>
      </div>
    <% end %>
    <button type="submit">Обновить</button>
  <% end %>
</div>


<div class="container">
    <h1> </h1>
    <div class="chart-section">
      <div class="chart-item">
        <div id="chart_container_reg" class="chart-container"></div>
      </div>
      <div class="chart-item">
        <div id="chart_container_1" class="chart-container"></div>
      </div>
      <div class="chart-item">
        <div id="chart_container_2" class="chart-container"></div>
      </div>
      <div class="chart-item">
        <div id="chart_container_3" class="chart-container"></div>
      </div>
      <div class="chart-item">
        <div id="chart_container_4" class="chart-container"></div>
      </div>
    </div>
    
    <div class="text-section">
      <div class="text-item" id = "text_chart_container_reg">
        <!-- Текст для графика "chart_container_reg" -->
        <ul>
        </ul>
      </div>
      <div class="text-item" id = "text_chart_container_1">
        <!-- Текст для графика "chart_container_1" -->
        <ul>
        </ul>
      </div>
      <div class="text-item" id = "text_chart_container_2">
        <!-- Текст для графика "chart_container_2" -->
        <ul>
        </ul>
      </div>
      <div class="text-item" id = "text_chart_container_3">
        <!-- Текст для графика "chart_container_3" -->
        <ul>
        </ul>
      </div>
      <div class="text-item" id = "text_chart_container_4">
        <!-- Текст для графика "chart_container_4" -->
        <ul>
        </ul>
      </div>
    </div>
  </div>

<script>
   $(document).ready(function() {
    // Функция для отправки AJAX-запроса
    function fetchDashboardData() {
        $.ajax({
            type: 'GET',
            url: '/temps/dashboard',
            data: $('#filter_form_dashboard :input').serialize(),
            dataType: 'json',
            success: function(data) {
                drawCharts(data);
                console.log(data[0].okpd);
            }
        });
    }

    // Вызываем функцию при загрузке страницы
    fetchDashboardData();

    // Обработка отправки формы
    $('#filter_form_dashboard').submit(function(event) {
        event.preventDefault();
        // Вызываем функцию для обновления данных
        fetchDashboardData();
    });
    });

    function drawCharts(data) {
    // Draw chart 1 (Bar Chart)
        google.charts.load('current', { packages: ['corechart'] });
        google.charts.setOnLoadCallback(function() {
            var chartData = new google.visualization.DataTable();
            chartData.addColumn('string', 'Okpd');
            chartData.addColumn('number', 'ИП');
            chartData.addColumn('number', 'ОП');

            chartData.addRow([data[0].okpd, data[0].ip_cost, data[0].op_cost]);

            const options = {
            title: 'Регулируемый рынок'
            };
            const chart = new google.visualization.BarChart(document.getElementById('chart_container_reg'));
            chart.draw(chartData, options);

            const textItem = document.getElementById('text_chart_container_reg');
            const list = textItem.querySelector("ul");
            
            // Предполагаем, что в `data` есть свойства `name` и `value`
            list.innerHTML = `
                <p>Описание графика :</p>
                <p>Стоимоть ОП - ${Intl.NumberFormat('ru-RU', { style: 'currency', currency: 'RUB' }).format(data[0].op_cost)}</p>
                <p>Стоимоть ИП - ${Intl.NumberFormat('ru-RU', { style: 'currency', currency: 'RUB' }).format(data[0].ip_cost)}</p>
                <p>Стоимоть общая - ${Intl.NumberFormat('ru-RU', { style: 'currency', currency: 'RUB' }).format(data[0].sum_cost)}</p>
            `;
        });

        // Draw chart 2 (Pie Chart)
        google.charts.load('current', { packages: ['corechart'] });
        google.charts.setOnLoadCallback(function() {

            var chartData = new google.visualization.DataTable();
            chartData.addColumn('string', 'Okpd');
            chartData.addColumn('number', 'Экспорт');
            //chartData.addColumn('number', 'Импорт');

            //chartData.addRow([data[0].okpd, data[0].export_cost, data[0].import_cost]);
            //chartData.addRow([['Экспорт', 'Импорт'], [data[0].export_cost, data[0].import_cost]]);
            chartData.addRow(['Экспорт', data[0].export_cost]);
            chartData.addRow(['Импорт', data[0].import_cost]);

            const options = {
            title: 'Таможня'
            };
            const chart = new google.visualization.PieChart(document.getElementById('chart_container_1'));
            chart.draw(chartData, options);

            const textItem = document.getElementById('text_chart_container_1');
            const list = textItem.querySelector("ul");
            
            // Предполагаем, что в `data` есть свойства `name` и `value`
            list.innerHTML = `
                <p>Экспорт - ${Intl.NumberFormat('ru-RU', { style: 'currency', currency: 'RUB' }).format(data[0].export_cost)}</p>
                <p>Импорт - ${Intl.NumberFormat('ru-RU', { style: 'currency', currency: 'RUB' }).format(data[0].import_cost)}</p>
            `;
        });

        // Draw chart 3 (Histogram)
        google.charts.load('current', { packages: ['corechart'] });
        google.charts.setOnLoadCallback(function() {
            var chartData = new google.visualization.DataTable();
            chartData.addColumn('string', 'Okpd');
            chartData.addColumn('number', 'Стоимость');
            chartData.addColumn('number', 'Количество');

            chartData.addRow([data[0].okpd, data[0].prom_cost, data[0].prom_quantity]);
            const options = {
            title: 'Пром производство'
            };
            const chart = new google.visualization.BarChart(document.getElementById('chart_container_2'));
            chart.draw(chartData, options);
            const textItem = document.getElementById('text_chart_container_2');
            const list = textItem.querySelector("ul");
            
            // Предполагаем, что в `data` есть свойства `name` и `value`
            list.innerHTML = `
                <p>Пром стоимость - ${Intl.NumberFormat('ru-RU', { style: 'currency', currency: 'RUB' }).format(data[0].prom_cost)}</p>
                <p>Пром количество - ${data[0].prom_quantity}</p>
            `;
        });

        // Draw chart 4 (Circle Chart)
        google.charts.load('current', { packages: ['corechart'] });
        google.charts.setOnLoadCallback(function() {

            var chartData = google.visualization.arrayToDataTable([
                ['Task', 'Hours per Day'],
                ['Доля', [10, 90]] // два значения в одном массиве
            ]);

            var options = {
                title: 'Доля от объема рынка',
                legend: {position: 'none'}, // скрываем легенду
                chartArea: {width: '80%', height: '80%'}, // настраиваем размер области диаграммы
                bar: {groupWidth: '100%'}, // делаем полосу на всю ширину
                hAxis: {
                minValue: 0,
                maxValue: 100,
                ticks: [0, 25, 50, 75, 100], // устанавливаем отметки на оси X
                textStyle: {fontSize: 12}, // настраиваем размер шрифта меток оси X
                },
                vAxis: {
                title: 'Процент', // название оси Y
                textStyle: {fontSize: 12}, // настраиваем размер шрифта меток оси Y
                }
            };
            const chart = new google.visualization.BarChart(document.getElementById('chart_container_3'));
            chart.draw(chartData, options);

            const textItem = document.getElementById('text_chart_container_3');
            const list = textItem.querySelector("ul");
            
            // Предполагаем, что в `data` есть свойства `name` и `value`
            list.innerHTML = `
                <p>Пром стоимость - ${Intl.NumberFormat('ru-RU', { style: 'currency', currency: 'RUB' }).format(data[0].prom_cost)}</p>
                <p>Объем рынка - ${Intl.NumberFormat('ru-RU', { style: 'currency', currency: 'RUB' }).format(data[0].market_volume)}</p>
            `;
        });

        // Draw chart 5 (Another chart type)
        // ...
       
    };
</script>