<h2>Таможенная статистика</h2>
<div>
    <%= form_tag upload_customs_path, multipart: true do %>
        <%= file_field_tag :file %>
        <%= submit_tag "Load" %>
    <%end%>
</div>
<div class = "container">
    <%= link_to "Temp", "customs/temp_table" %>
</div>
<table class = "table">
  <thead>
    <tr>
      <% @customs.columns.each do |column| %>
        <th><%= column.name.titleize %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @customs.all.each do |record| %>
      <tr>
        <% @customs.columns.each do |column| %>
          <td><%= record[column.name] %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<div calss = "mx-3 container">
    <%= paginate @customs %>
</div>