<div class = "container-sm">
    <h2>Регулируемый рынок ФЗ 44, сводная</h2>

     <% @count_files.each do |file|%>
        <ul>
            <li><%= file['file_name'] %></li>
            <%= link_to "Удалить",  url_for(controller: 'fz44s', action: 'destroy', file_name: file['file_name']), method: :delete, data: {confirm: "Are you shure"}, class: "link-danger link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"%>
        </ul>
    <%end%>

    <table class = "table table-sm">
        <thead>
            <tr>
                <th>ОКПД 2</th>
                <th>Количество ОП</th>
                <th>Количество ИП</th>
                <th>Стоимость ОП</th>
                <th>Стоимость ИП</th>
            </tr>
        </thead>
        <tbody>
            <% @fz44s.each do |row| %>
            <tr>
                <td><%= row['okpd'] %></td>
                <td><%= row['quantity_count_op'] %></td>
                <td><%= row['quantity_count_ip'] %></td>
                <td><%= row['position_count_op'] %></td>
                <td><%= row['position_count_ip'] %></td>
            </tr>
            <% end %>
        </tbody>
    </table>
</div>