<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th><%= sort_link(@q, :okpd, "ОКПД 2") %></th>
      <th><%= sort_link(@q, :name_okpd, "Наименование ОКПД 2") %></th>
      <th><%= sort_link(@q, :monthly_quarter, "Год") %></th>
      <th><%= sort_link(@q, :critical, "Критичность") %></th>
      <th><%= sort_link(@q, :crit_value, "ИМ-ЭК, руб.") %></th>
      <th><%= sort_link(@q, :part_op, "Доля ОП") %></th>
      <th><%= sort_link(@q, :dynamic_ip, "Динамика ИП") %></th>
      <th><%= sort_link(@q, :dynamic_op, "Динамика ОП") %></th>
      <th><%= sort_link(@q, :sum_cost, "Стоимость по ФЗ") %></th>
      <th><%= sort_link(@q, :sum_quantity, "Количество оп ФЗ") %></th>
      <th><%= sort_link(@q, :export_cost, "Экспорт стоимость") %></th>
      <th><%= sort_link(@q, :import_cost, "Импорт стоимость") %></th>
      <th><%= sort_link(@q, :prom_cost, "Пром стоимость") %></th>
      <th><%= sort_link(@q, :prom_quantity, "Пром количество") %></th>
      <th><%= sort_link(@q, :kty, "КТУ") %></th>
      <th><%= sort_link(@q, :kty_cost, "КТУ/Цена") %></th>
      <th><%= sort_link(@q, :market_volume, "Объем рынка") %></th>
    </tr>
  </thead>
  <tbody>
    <% temp_years.each do |temp_year| %>
      <tr>
        <td><%= temp_year.okpd %></td>
        <td><%= temp_year.name_okpd %></td>
        <td><%= temp_year.monthly_quarter %></td>
        <td><%= temp_year.critical %></td>
        <td><%= number_to_currency(temp_year.crit_value, unit: '', precision: 0) %></td>
        <td><%= number_to_percentage(temp_year.part_op.try(:*,100), precision: 2) %></td>
        <td><%= number_to_percentage(temp_year.dynamic_ip.try(:*,100), precision: 2) %></td>
        <td><%= number_to_percentage(temp_year.dynamic_op.try(:*,100), precision: 2) %></td>
        <td><%= number_to_currency(temp_year.sum_cost, unit: '', precision: 0) %></td>
        <td><%= temp_year.sum_quantity %></td>
        <td><%= number_to_currency(temp_year.export_cost, unit: '', precision: 0) %></td>
        <td><%= number_to_currency(temp_year.import_cost, unit: '', precision: 0) %></td>
        <td><%= number_to_currency(temp_year.prom_cost, unit: '', precision: 0) %></td>
        <td><%= temp_year.prom_quantity %></td>
        <td><%= temp_year.kty %></td>
        <td><%= temp_year.kty_cost %></td>
        <td><%= temp_year.market_volume %></td>
      </tr>
    <% end %>
  </tbody>
</table>