<h1>Таблица критической продукции</h1>

<div class="card">
  <div class="card-header mb-4">
    Фильтры
  </div>
  <div class="card-body" id="filters">
    <%= form_tag(temp_years_path, method: :get, data: { remote: true }, class: "form-inline") do %>
      <div class="form-row align-items-end">  <%# Используем form-row для компактного отображения %>
      <div class = "row">
        <div class="form-group col-md-2 mb-2">
          <%= label_tag :monthly_quarter, "Год:", class: "form-control-label" %>
          <%= select_tag :monthly_quarter, options_for_select(@years.unshift(""), params[:monthly_quarter]), include_blank: true, class: "form-control" %>
        </div>
        <div class="form-group col-md-2 mb-2">
          <%= label_tag :okpd, "OKPD:", class: "form-control-label" %>
          <%= select_tag :okpd, options_for_select(@okpds.unshift(""), params[:okpd]), include_blank: true, class: "form-control" %>
        </div>
        <div class="form-group col-md-2 mb-2">
          <%= label_tag :critical, "Критичность:", class: "form-control-label" %>
          <%= select_tag :critical, options_for_select([["", ""], ["Да", true], ["Нет", false]], params[:critical]), include_blank: true, class: "form-control" %>
        </div>
        </div>

        <%# Фильтр dynamic_ip %>
        <div class="form-group col-md-3 mb-2">
          <%= label_tag :dynamic_ip, "Динамика ИП (%):", class: "form-control-label" %>
          <div class="input-group">
            <%= number_field_tag :dynamic_ip_from, params[:dynamic_ip_from], class: "form-control", step: 1, placeholder: "от" %>
            <div class="input-group-prepend input-group-append">
              <span class="input-group-text">-</span>
            </div>
            <%= number_field_tag :dynamic_ip_to, params[:dynamic_ip_to], class: "form-control", step: 1, placeholder: "до" %>
          </div>
        </div>

        <%# Фильтр dynamic_op %>
        <div class="form-group col-md-3 mb-2">
          <%= label_tag :dynamic_op, "Динамика ОП (%):", class: "form-control-label" %>
          <div class="input-group">
            <%= number_field_tag :dynamic_op_from, params[:dynamic_op_from], class: "form-control",  step: 1, placeholder: "от" %>
            <div class="input-group-prepend input-group-append">
              <span class="input-group-text">-</span>
            </div>
            <%= number_field_tag :dynamic_op_to, params[:dynamic_op_to], class: "form-control",  step: 1, placeholder: "до" %>
          </div>
        </div>

        <%# Фильтр part_op %>
        <div class="form-group col-md-3 mb-2">
          <%= label_tag :part_op, "Доля ОП (%):", class: "form-control-label" %>
          <div class="input-group">
            <%= number_field_tag :part_op_from, params[:part_op_from], class: "form-control",  step: 1, placeholder: "от" %>
            <div class="input-group-prepend input-group-append">
              <span class="input-group-text">-</span>
            </div>
            <%= number_field_tag :part_op_to, params[:part_op_to], class: "form-control",  step: 1, placeholder: "до" %>
          </div>
        </div>
        <button class="btn btn-secondary float-right" id="clear-filters">Очистить фильтры</button>
      </div> <%# Закрываем form-row %>
    <% end %>
  </div>
</div>

<div id="temp_years_table">
  <%= render partial: 'temp_years_table', locals: { temp_years: @temp_years } %>
</div>

<div class="mx-3 container">
  <%= paginate @temp_years, 
  params: { 
    monthly_quarter: params[:monthly_quarter], 
    okpd: params[:okpd], 
    critical: params[:critical],
    dynamic_ip_from: params[:dynamic_ip_from],
    dynamic_ip_to: params[:dynamic_ip_to],
    dynamic_op_from: params[:dynamic_op_from],
    dynamic_op_to: params[:dynamic_op_to],
    part_op_from: params[:part_op_from],
    part_op_to: params[:part_op_to]
  } 
%>
</div>

<script>
  $(document).ready(function() {
    // Отслеживаем изменения в select элементах
    $('#filters select, #filters input[type=number]').change(function() {
      // Отправляем AJAX запрос при изменении любого select
      $(this).closest('form').submit();
    });

    // Обработка кнопки "Очистить фильтры"
    $('#clear-filters').click(function() {
      // Очищаем значения всех select и input[type=number]
      $('#filters select').val('');
      $('#filters input[type=number]').val('');

      // Отправляем AJAX запрос с очищенными фильтрами
      $('#filters form').submit();
    });
  });
</script>