<h2>Промышленное производство</h2>
<div>
    <%= form_tag upload_proms_path, multipart: true do %>
        <%= file_field_tag :file %>
        <%= submit_tag "Load" %>
    <%end%>
</div>
<div class = "container">
    <%= link_to "Temp", "proms/temp_table" %>
</div>
<table class = "table">
  <thead>
    <tr>
      <% @proms.columns.each do |column| %>
        <th>
          <% if params[:sort] == column.name && params[:direction] == 'asc'  %>
            <%= link_to "#{column.name.titleize} ↓", {sort: column.name, direction: 'desc'}%>
          <%else%>
            <%= link_to "#{column.name.titleize} ↑", {sort: column.name, direction: 'asc'} %>
          <%end%>
        </th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @proms.all.each do |record| %>
      <tr>
        <% @proms.columns.each do |column| %>
          <td><%= record[column.name] %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<div calss = "mx-3 container">
    <%= paginate @proms %>
</div>