<div class = "container-sm">
    <h2>Регулируемый рынок ФЗ 223, сводная</h2>
    <% @count_files.each do |file|%>
        <ul>
            <li><%= file['file_name'] %></li>
        </ul>
    <%end%>
    <table class = "table table-sm">
        <thead>
            <tr>
                <th>ОКПД 2</th>
                <th>Количество ОП</th>
                <th>Количество ИП</th>
                <th>Стоимость ОП</th>
                <th>Стоимость ИП</th>
            </tr>
        </thead>
        <tbody>
            <% @proms.each do |row| %>
            <tr>
                <td><%= row['okpd'] %></td>
                <td><%= row['quantity_count_OP'] %></td>
                <td><%= row['quantity_count_IP'] %></td>
                <td><%= row['position_count_OP'] %></td>
                <td><%= row['position_count_IP'] %></td>
            </tr>
            <% end %>
        </tbody>
    </table>
</div>